{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- Content -->
<div class="container-lg">
    <div class="row my-5">
        <!-- sidebar -->
        <div class="col-3">

            <!-- Includes sidebar-profile -->
            {% include 'includes/sidebars/sidebar-profile.html' %}
        </div>
        <div class="col-7">
            <!-- codeets -->
            {% include 'includes/forms/new-codeet.html' %}

            <div class="col-12 d-flex mb-4 justify-content-between">
                <div class="card text-center" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">Codeets</h5>
                        <h4 class="card-subtitle mb-2 text-muted">{{total_codeets}}</h4>
                    </div>
                </div>
                <div class="card text-center" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">Followers</h5>
                        <h4 class="card-subtitle mb-2 text-muted">{{current_user.followed_by.all()|length}}</h4>
                    </div>
                </div>
                <div class="card text-center" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">re-Codeets</h5>
                        <h4 class="card-subtitle mb-2 text-muted">{{total_codeets}}</h4>
                    </div>
                </div>
                <div class="card text-center" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">Total Likes</h5>
                        <h4 class="card-subtitle mb-2 text-muted">{{total_codeets}}</h4>
                    </div>
                </div>

            </div>

            <div id="dynamic-codeet">
                <!-- new codeet -->
            </div>

            {% for codeet in codeets %}
            {% include 'includes/codeet.html' %}
            {% endfor %}
        </div>
        <div class="col-2">
            {% include 'includes/sidebars/follow-bar.html' %}
        </div>
    </div>
</div>

{% endblock %}