{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- Content -->
<div class="container-lg">
    <div class="row my-5">
        <div class="col-3">
            <!-- sidebar -->
            <!-- Includes sidebar-timeline -->
            {% include 'includes/sidebars/sidebar-timeline.html' %}
        </div>
        <div class="col-7">

            {% if current_user.id == user.id %}
            <!-- New codeet form -->
            {% include 'includes/forms/new-codeet.html' %}
            {% endif %}

            <!-- Dynamic codeet -->
            <div id="dynamic-codeet">
                <!-- new codeet -->
            </div>

            {% for codeet in codeets %}
            {% include 'includes/codeet.html' %}
            {% endfor %}

        </div>
        <div class="col-2">
            {% include 'includes/sidebars/follow-bar.html' %}
        </div>
    </div>
</div>
{% endblock %}