
<form onsubmit="event.preventDefault();submit_new_codeet(event)">

    <div class="mb-5">

        <div class="col-12 row mx-0">

            <input type="hidden" name="user_id" value="{{current_user.id}}">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <a href="/{{current_user.username}}/" class="text-decoration-none align-self-start"><img src="{{url_for('static', filename='img/uploads/'+current_user.image)}}"
                    alt="{{current_user.username}} profile avatar" width="80px"
                    class="rounded-3 border border-3 align-self-start bg-light avatar-profile"></a>
            </div>
            <div class="card border border-3  col-10 bg-light">
                <div class="col-12 codetext text-muted m-2">
                    <a href="/{{current_user.username}}/" class="text-decoration-none"><span class='text-primary'>@{{current_user.username}}</span></a>.say = codeet; print(codeet)
                </div>
                <div class="col-12">


                    <div class="mb-4 mx-2">
                        {{ codeetform.text(class="form-control",style='resize:none;',placeholder='Say hello
                        ',rows=4,id="post-tweet-text")
                        }}
                        {% for error in codeetform.text.errors%}
                        <small class="text-danger" style="--bs-text-opacity: .75;">{{ error }}</small>
                        {% endfor %}
                    </div>


                </div>
            </div>
            <div class="col-12 text-end px-0 mt-3" id="btn-post-codeet-profile">
                <button class="btn btn-primary m-0 align-self-center me-1" style="width:110px;">
                    Submit <i class="fa-light fa-paper-plane"></i>
                </button>
            </div>
            </div>
            </div>
</form>