<div class="card w-100 px-3 py-2 border border-2">
    <div class="card-body row position-relative d-flex flex-column">
        <div
            class=" col-12 d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle">
            <img src="{{url_for('static', filename='img/uploads/'+current_user.image)}}" alt="" width="80px"
                height="80px" class="rounded-3 border border-3 align-self-center"
                style="object-fit: cover;">
        </div>
        <br>
        <div class="col-12 mt-3">
            {% if not current_user.first_name %}
            <h5 class="text-black-75 mb-0">Your name...</h5>
            {% else %}
            <h5 class="text-black-75 mb-0">{{current_user.first_name|title}} {{current_user.last_name|title}}</h5>
            {% endif %}
        </div>
        <hr class="m-0">
        <div class="col-12">
            <h5 class="text-muted">@{{current_user.username}}</h5>
        </div>
        <div class="col-12 mt-2 mb-1">
            <p class="text-dark fw-bold m-0">Bio:</p>
            <p class="text-muted text-center fst-italic">I'm a codeer with a Codeet account. I'm awesome!
            </p>
        </div>
        <div class="col-12 mb-3">
            <small class="text-muted">Create in {{current_user.created_at.strftime('%m/%d/%Y')}}</small>
        </div>
        <div class="col-12">
            <a type="button" class="text-reset d-block mb-2  text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="fa-duotone fa-gear me-2" ></i>Edit Profile</a>
            <a href="{{url_for('auth.logout')}}" class="text-reset d-block mb-2  text-decoration-none"><i
                    class="fa-duotone fa-right-from-bracket me-2"></i>Logout</a>
        </div>
    </div>
</div>