<div class="card border border-3 mb-5 new-box" id="new-codeet-card">
                <div class="card-body row">
                    <div class="col-11 row">
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <img src="{{url_for('static', filename='img/uploads/'+codeet.user.image)}}"
                                alt="{{codeet.user.username}} Avatar" width="80px"
                                class="rounded-3 border border-3 align-self-center">
                        </div>
                        <div class="col-10">
                            <div class="col-12 codetext text-muted">
                                <span class='text-primary'>@{{codeet.user.username}}</span>.say = codeet; print(codeet)
                            </div>
                            <div class="col-12">
                                {{codeet.text}}
                            </div>
                        </div>
                    </div>
                    <div class="col-1 px-1 d-flex flex-column justify-content-around fs-5 text-center">
                        <a href="#" class="text-reset"><i class="fa-duotone fa-circle-heart"></i></a>
                        <a href="#" class="text-reset"><i class="fa-duotone fa-arrows-retweet"></i></a>
                        <a href="#" class="text-reset"><i class="fa-duotone fa-reply"></i></a>
                    </div>


                </div>

                <div class="card-footer text-black-75 text-end codetext py-0 fonttags">
                    <div class="col-12">
                        <span>
                            <span class="text-danger">for</span> tags <span class="text-danger">in</span> codeet.tags;
                            <span class="text-success">print</span><span class="text-info">(</span>'#'<span
                                class="text-danger">+</span>tags<span class="text-info">)</span> <span
                                class="text-black-50">>>></span> <span class="text-success">#myfirstcodeet</span>
                        </span>
                    </div>
                    <hr class="m-0">
                    <div class="col-12">
                        <span class="text-black-50">{{ (today - codeet.created_at)|time_since }} ago; len(codeet) = {{
                            codeet.text|length }} chars</span>
                    </div>
                </div>