<!-- codeet id-{{codeet.id}} -->
<div class="card border border-3 mb-5" id="new-codeet-card">
    <div class="card-body row">
        <div class="col-11 row">
            <div class="col-2 d-flex align-items-center justify-content-center avatar-profile">
                <a href="/{{codeet.user.username}}/" class="text-decoration-none"><img src="{{url_for('static', filename='img/uploads/'+codeet.user.image)}}"
                    alt="{{codeet.user.username}} Avatar" width="80px"
                    class="rounded-3 border border-3 align-self-center"></a>
            </div>
            <div class="col-10">
                <div class="col-12 codetext text-muted">
                    <a href="/{{codeet.user.username}}/" class="text-decoration-none"><span class='text-primary'>@{{codeet.user.username}}</span></a>.say = codeet; print(codeet)
                </div>
                <div class="col-12">
                    {{codeet.text}}
                </div>
            </div>
        </div>
        <div class="col-1 px-1 d-flex flex-column justify-content-around fs-5 text-center">

            <form onsubmit="event.preventDefault();submit_new_like(event)">
            
            <input type="hidden" name="codeet_id" value="{{codeet.id}}">
            <input type="hidden" name="user_id" value="{{current_user.id}}">
            
            {% if current_user.id != codeet.user.id %}
            {% if current_user not in codeet.likes %}
            <button type="submit" class="btn btn-secondary p-0 bg-transparent border-0 text-secondary fs-4" id="like-codeet-btn-{{codeet.id}}"><i class="fa-duotone fa-circle-heart"></i></button>
            {% else %}
            <button type="submit" class="btn btn-secondary p-0 bg-transparent border-0 text-primary fs-4 codeet-liked" id="like-codeet-btn-{{codeet.id}}"><i class="fa-duotone fa-circle-heart"></i></button>
            {% endif %}
            {% else %}
            <button type="submit" class="btn btn-secondary p-0 bg-transparent border-0 text-secondary fs-4" id="like-codeet-btn-{{codeet.id}}" disabled><i class="fa-duotone fa-circle-heart"></i></button>
            {% endif %}

            
            
            </form>
            <a href="#" class="text-reset"><i class="fa-duotone fa-arrows-retweet"></i></a>
            <a href="/codeet/{{codeet.id}}" class="text-reset"><i class="fa-duotone fa-reply"></i></a>
        </div>


    </div>

    <div class="card-footer text-black-75 text-end codetext py-0 fonttags">
        <div class="col-12">
            <span>
                <span class="text-danger">for</span> tags <span class="text-danger">in</span> codeet.tags;
                <span class="text-success">print</span><span class="text-info">(</span>'#'<span
                    class="text-danger">+</span>tags<span class="text-info">)</span> <span
                    class="text-black-50">>>></span> 
                    
                    {% for tag in codeet.codeet_tags %}
                    <a href="/tags/{{tag.tag}}/" class="text-decoration-none"><span class="text-success">#{{tag.tag}}</span></a>
                    {%endfor%}
            </span>
        </div>
        <hr class="m-0">
        <div class="col-12">
            <span class="text-black-50">{{ (today - codeet.created_at)|time_since }} ago; len(codeet) = {{
                codeet.text|length }} chars</span>
        </div>
    </div>
</div>